<p id="notice"><%= notice %></p>

<h1>My Library Collection</h1>

<table class="table table-success table-striped">
  <thead>
    <tr>
      <th>Author</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>ISBN</th>
      <th>Edition</th>
      <th colspan="3"> Remarks</th>
    </tr>
  </thead>

  <tbody>
    <% @mylibraries.each do |mylibrary| %>
      <tr>
        <td><%= mylibrary.author %></td>
        <td><%= mylibrary.name %></td>
        <td><%= mylibrary.category %></td>
        <td><%= mylibrary.price %></td>
        <td><%= mylibrary.isbn %></td>
        <td><%= mylibrary.edition %></td>
        <td><%= link_to 'Show', mylibrary %></td>
        <td><%= link_to 'Edit', edit_mylibrary_path(mylibrary) %></td>
        <td><%= link_to 'Destroy', mylibrary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mylibrary', new_mylibrary_path %>
