<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @mylibrary.author %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mylibrary.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @mylibrary.category %>
</p>

<p>
  <strong>Price:</strong>
  <%= @mylibrary.price %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @mylibrary.isbn %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @mylibrary.edition %>
</p>

<%= link_to 'Edit', edit_mylibrary_path(@mylibrary) %> |
<%= link_to 'Back', mylibraries_path %>
